@import url(../styles/fonts.css);

.custom-shadow:hover {
  box-shadow: 0 1px 50px 3px oklch(0.49 0.27 294.54);
}
.custom-shadow-2:hover{
  box-shadow: 0 0 20px 3px oklch(0.457 0.24 277.023);
  
}
.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  display: none;
}

@theme {
  --font-iran-sans: "iran-sans";
  --font-iran-bold: "iran-bold";
  --font-kalameh: "kalameh";
  --font-kalameh-bold: "kalameh-bold";
  --font-iran-num: "iran-num";
}
@import "tailwindcss";
